.division_4{
    display: grid;
    grid-template-areas: "A . B . C . D";
    grid-template-columns: 20% 6% 20% 6% 20% 6% 20%;
    text-align: center;
}
.division_4 img{
    width: 100%;
}
.division_4 > *:nth-child(1) {
    grid-area: A;
}
.division_4 > *:nth-child(2){
    grid-area: B;
}
.division_4 > *:nth-child(3){
    grid-area: C;
}
.division_4 > *:nth-child(4){
    grid-area: D;
}
@media screen and (max-width: 700px){
    .division_4{
        grid-template-areas: "A" "border1" "B" "border2" "C" "border3" "D";
        grid-template-columns: 100%;
        grid-template-rows: max-content 20px max-content 20px max-content 20px max-content;
    }
}