footer{
    background: #f2f2f2;
    border-top: 2px #808080 solid;
    color: #555;
    width: 100%;
    // width: 100vw;
    // box-sizing: border-box;
    a{
        color: #444;
        text-decoration: none;
    }
    p.copyright{
        text-align: right;
        font-size: 16px;
    }
    ul{
        text-align: right;
        list-style: none;
        margin-right: 8px;
        li{
            --border: 1px #666 solid;
            box-sizing: border-box;
            display: inline-block;
            padding: 3px 8px;
            font-size: 16px;
            border: 0px;
            border-right: var(--border);
            &.first{
                border-left: var(--border);
            }
        }
    }
    p#note{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 700px){
    footer{
        
    }
}