header {
  --bgcolor: #2d7764;
  --col: #fff;
}

header p.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 299;
  background: var(--bgcolor);
  width: 100%;
  text-align: center;
  font-weight: 600;
  height: 26px;
  width: 100vw;
  font-size: 24px;
  padding: 10px;
  color: var(--col);
  margin: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
          box-shadow: 0px 0px 20px 0px #000;
  cursor: pointer;
}

header p.logo img {
  height: 100%;
  width: auto;
}

header p.logo i.showing {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header div.headerContainer {
  background: rgba(0, 0, 0, 0.5);
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

header div.headerContainer.showing {
  display: block;
}

header div.displayToggleBtn {
  position: fixed;
  text-align: center;
  top: 46px;
  left: 0px;
  z-index: 30000;
  background: var(--bgcolor);
  font-size: 14px;
  padding: 16px;
  color: var(--col);
  cursor: pointer;
  border: 2px #000 solid;
  border-left: 0px;
}

header div.displayToggleBtn.showing {
  -webkit-animation: menuShowDesktop 500ms;
          animation: menuShowDesktop 500ms;
  left: 360px;
}

header div.displayToggleBtn.showing i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header div.displayToggleBtn i {
  font-size: 36px;
}

header div.topMenu {
  -webkit-box-shadow: 0px 0px 10px 0px;
          box-shadow: 0px 0px 10px 0px;
  position: fixed;
  left: -360px;
  width: 360px;
  z-index: 302;
  top: 0;
}

header div.topMenu.showing {
  -webkit-animation: menuShowDesktop 500ms;
          animation: menuShowDesktop 500ms;
  left: 0px;
}

header div.topMenu:not(.showing) > ul {
  display: none !important;
}

header div.topMenu ul {
  list-style: none;
  background: var(--bgcolor);
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0px;
  display: none;
  cursor: default;
  margin-top: 61px;
}

header div.topMenu ul li {
  color: var(--col);
  font-size: 20px;
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  font-weight: 300;
  text-align: center;
  padding: 10px 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--col);
  cursor: pointer;
}

header div.topMenu ul li.first {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: var(--col);
}

header div.topMenu ul li a {
  color: var(--col);
  text-decoration: none;
}

header div.topMenu ul li > ul > li > ul {
  margin-top: 0;
}

header div.topMenu ul li.back {
  background: #0b5542;
}

header div.topMenu ul li:hover {
  background: #3e8875;
}

header div.topMenu ul p#sigman {
  height: 50px;
  width: 100%;
  margin: 0 0 5px 0;
  color: var(--col);
  font-size: 18px;
  text-align: center;
  padding: 3px;
}

header div.topMenu ul p#sigman img {
  height: 100%;
  width: auto;
}

header div.topMenu > ul {
  position: relative;
  border-color: var(--col);
  border-width: 3px;
  border-style: solid;
  margin-top: 0px;
}

header div.topMenu p.schoolInfo {
  padding: 15px;
  color: var(--col);
  font-size: 14px;
  text-align: center;
}

@-webkit-keyframes menuDisplay {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes menuDisplay {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes menuHide {
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes menuHide {
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (min-width: 700px) {
  header p.logo {
    width: 100%;
    cursor: default;
  }
  header div.topMenu ul {
    height: 100vh;
  }
  header div.topMenu > ul {
    display: block;
    overflow: hidden;
    border: 0;
  }
  header div.topMenu > ul ul {
    overflow: hidden;
  }
  header p.logo > i.fas.fa-angle-down {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  header div.topMenu {
    position: fixed;
    top: 46px;
    width: 100vw;
    height: 0px;
    left: 0px;
  }
  header div.topMenu.showing {
    -webkit-animation: menuShowSP 500ms;
            animation: menuShowSP 500ms;
    height: 100vh;
  }
  header div.topMenu.showing > ul {
    display: block;
  }
  header div.displayToggleBtn {
    display: none;
  }
  header div.headerContainer {
    z-index: 100;
  }
}

@-webkit-keyframes menuShowDesktop {
  from {
    -webkit-transform: translateX(-360px);
            transform: translateX(-360px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes menuShowDesktop {
  from {
    -webkit-transform: translateX(-360px);
            transform: translateX(-360px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes menuShowSP {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menuShowSP {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=header.css.map */