div.column.container{
    display: grid;
    grid-template-areas: "img . msg" ". . ." "long long long";
    grid-template-columns: max-content 16px 1fr;
    grid-template-rows: max-content 32px max-content;
}
img.left{
    grid-area: img;
    margin: 8px;
}
p.msg{
    grid-area: msg;
}
img.long{
    grid-area: long;
    margin: auto;
}
@media screen and (max-width: 700px){
    main img{
        width: 100% !important;
        margin: 0 !important;
    }
    div.column.container{
        display: block;
    }
}