table{
	border: 1px solid #888;
	background: #fff;
	text-align: center;
	border-collapse: collapse;
	empty-cells: show;
}
table td, table th{
	border: #aaa solid 1px;
	padding: .5em;
}
table tfoot td{
	border-top: #aaa solid 3px;
	border-top-style: double;
}
.column div{
	margin: auto;
	width: max-content;
}
@media screen and (max-width: 700px) {
	table, tbody, tfoot, tr{
		width: max-content;
	}
	table tbody td, table tfoot td{
		display: table-cell;
	}
	.column div{
		background: #eee;
		width: 100%;
		height: max-content;
		overflow-x: scroll;
		white-space: nowrap;
		padding: 16px 0px;
	}
}