<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
RewriteEngine on

# HTTP ERROR
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 500 /error/500

# MINETYPE
AddType application/json json
AddType x-font-ttf ttc

# HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# 拡張子なしPHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# 拡張子なしHTML
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# 文化祭用未実装ファイル
# RewriteCond %{REQUEST_URI} ^/links [OR]
# RewriteCond %{REQUEST_URI} ^/exemption [OR]
# RewriteCond %{REQUEST_URI} ^/copyright [OR]
# RewriteCond %{REQUEST_URI} ^/privacy [OR]
# RewriteCond %{REQUEST_URI} ^/ags/ [OR]
# RewriteCond %{REQUEST_URI} ^/blog/ [OR]
# RewriteCond %{REQUEST_URI} ^/for_student/ [OR]
# RewriteCond %{REQUEST_URI} ^/pta/
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/preparation.html [END]