main p.header{
    background-color   : #ffffff;
    background-image   : radial-gradient(#dfffc3 30%, transparent 25%),
                        radial-gradient(#dfffc3 30%, transparent 25%);
    background-position: 5px 5px, 5px 5px;
    background-size    : 10px 10px;
    font-size: 26px;
    padding: 10px;
    text-align: center;
}