.blogContainer{
    display: flex;
    .columnContainer{
        width: 400px;
        white-space: pre-line;
        height: max-content;
        box-sizing: border-box;
        display: block;
        margin: 12px;
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 4px;
        imgload, img{
            width: 100%;
            margin: auto;
            // border: 2px solid #aaa;
        }
        p.title{
            font-size: 1.5em;
            text-align: center;
        }
    }
}

.hide{
    display: none;
}

@media screen and (max-width: 480px){
    .blogContainer .columnContainer{
        width: 100%;
        margin: 8px auto;
    }
}